.navigation {
  height: 55px;
  background-color: $background-sections-color;
  z-index: 1;

  a {
    text-decoration: none;
    color: $names-font-color;
  }

  .row-no-padding {
    [class*="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  img {
    height: 20px;
    width: 20px;
    color: $sidebar-font-color;
    line-height: 20px;
    cursor: pointer;
  }

  img:hover {
    filter: brightness(30%);
    outline: none;
  }

  .empty {
    height: 55px;
    border: 1px solid $background-basic-color;
    border-top: 0;
  }

  .wallet {
    height: 55px;
    border-top: 0;
    opacity: 0.5;
    font-weight: bold;
    border: 1px solid $background-basic-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .notification {
    height: 55px;
    border-top: 0;
    position: relative;
    border: 1px solid $background-basic-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .notification {
    img:active {
      filter: brightness(30%);
      outline: none;
    }
  }

  .notification::after {
    right: 40%;
    top: 25%;
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $button-orange-color;
    cursor: pointer;
  }

  .profile {
    height: 55px;
    border-top: 0;
    border: 1px solid $background-basic-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .quit {
    height: 55px;
    border-top: 0;
    border: 1px solid $background-basic-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
