/* Colors */
$leftside-font-color: #ffffff; // Just do it
$leftside-background-color: #020007; // lef side background
$background-sections-color: #fcfcfc; // top bar
$background-basic-color: #ebebeb; // main background

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

$main-font: 'Playfair Display', Serif;
$header-font: 'Source Sans Pro', Sans-Serif;

/* Colors */
// $names-font-color: ;
// $header-sections-font-color: ;
// $header-line-font-color: ;
// $line-font-color: ;
// $put-in-font-color: ;
// $pop-up-font-color: ;
// $button-font-color: ; 

/* Font sizes */
// $names-font-size: ;
// $header-sections-font-size: ;
// $header-line-font-size: ;
// $line-font-size: ;
// $put-in-font-size: ;
// $pop-up-font-size: ;
// $button-font-size: ;