/* Colors */
$paragraph-color: #080000;
$sidebar-font-color: #ffffff;
$brand-main-color: #ff0000;
$background-sidebar-color: #080000;
$background-basic-color: #ebebeb;
$background-sections-color: #fcfcfc;
$button-orange-color: #f58220;
$names-font-color: #a4bbcb;
$box-shadow-color: #e1dbdb;

/* Font sizes */
$paragraph-font-size: 16px;
$header-font-size: 48px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

$main-font: 'Playfair Display', Serif;
$header-font: 'Source Sans Pro', Sans-Serif;
