.single-chart-legend {
  height: 40px;
  width: 120px;
  padding-right: 10px;
  border-radius: 5%;
  background-color: $background-basic-color;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .circle {
    opacity: 0.5;
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 100%;
    z-index: 2;
  }

  p {
    font-family: $paragraph-font;
  }

  h4 {
    opacity: 0.5;
    padding-left: 82px;
  }
}

/* Media */
@media (max-width: 1199px) {
  .chart-legend {
    h4 {
      margin-left: 30px;
    }
  }
}