.view-header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $background-basic-color;
  background-color: $background-sections-color;

  h3 {
    opacity: 0.5;
    margin-left: 15px;
    font-family: $paragraph-font;
  }
}
